<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_TelsGsL261uDqAoiez3wNlFtZY6H0yA</string>
	<key>GCM_SENDER_ID</key>
	<string>801819062087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cioafrica.dx5veevents</string>
	<key>PROJECT_ID</key>
	<string>dx5-events</string>
	<key>STORAGE_BUCKET</key>
	<string>dx5-events.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801819062087:ios:8093f803ba9fc2df08e662</string>
</dict>
</plist>